[submodule "Simple-Web-Server"]
	path = Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "src/Simple-Web-Server"]
	path = src/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
